    <head> 
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  
    </head>
    
    <body>
      <div class="tm-main-content" id="top">
        
        <div class="tm-bg-white tm-p-4">
          
            <form action="index.html" method="post" class="contact-form" [formGroup]="fraudForm" (ngSubmit)="reportfraud(fraudForm)">
              <div style="display:flex">
                <i title="Home" routerLink="" style="font-size: 35px;position: relative;top: 2px;right: 6px;cursor: pointer;" class="fa fa-arrow-circle-left fa-xl"></i>
              <h2 style="font-weight:700;font-style:sans-serif;position: relative;
              right: -6px;">Report Fraud</h2> 
            </div>
              <div class="form-group">
                <input formControlName="Email" type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email"
                  required>
                  <span style=" color: red" *ngIf="f['Email'].errors?.['required']&& f['Email'].touched">Email is required</span>
                  <span style=" color: red" *ngIf="f['Email'].errors?.['pattern']">Email is invalid</span>
              </div>
              <div class="form-group">
                <select formControlName="FraudType" type="text" id="contact_subject" name="contact_subject" class="form-control"
                  placeholder="Type Of Fraud" required>
                  <option value="" disabled selected>Select Type Of Fraud</option>
                  <option value="Debit Card">Debit Card</option>
                  <option value="Credit Card">Credit Card</option>
                  <option value="UPI" >UPI</option>
                </select>
                  <span style=" color: red" *ngIf="f['FraudType'].invalid&& f['FraudType'].touched">Please mention type of fraud</span>
    
              </div>
              <div class="form-group">
                <input formControlName="FraudDate" type="datetime-local" id="contact_message" name="contact_message" class="form-control" rows="9"
                  placeholder="Date Of Fraud" required>
                  <span style=" color: red" *ngIf="f['FraudDate'].invalid&& f['FraudDate'].touched">Please mention date of fraud</span>
              </div>
              <div class="form-group">
                <input formControlName="FraudAmount" type="number" id="contact_amount" name="contact_amount" class="form-control" 
                  placeholder="Enter  Fraud Amount in Rs" required>
                  <span style=" color: red" *ngIf="f['FraudAmount'].errors?.['required']&&f['FraudAmount'].touched">Please mention fraud amount</span>
                  <span style=" color: red" *ngIf="f['FraudAmount'].errors?.['pattern']">Please enter a valid amount</span>
              </div>
              <div class="form-group">
                <textarea formControlName="Details" type="text" id="contact_details" name="contact_details" class="form-control" rows="7"
                  placeholder="Details Of Fraud" required></textarea>
                  <span style=" color: red" *ngIf="f['Details'].errors?.['required']&&f['Details'].touched">Please give some details</span>
              </div>
              <button type="submit"class="btn btn-warning tm-btn-primary"  style="color: white;">Send</button>
            </form>
          </div>
    
    
    
        <footer style="background: rgb(78, 78, 78);" class="tm-bg-dark-blue">
          <div class="container">
            <div class="row">
              <!-- <div class="column">
                <p lass="col-sm-12 tm-font-light tm-color-white p-4 tm-margin-b-0">
                  About Us <span class="tm-current-year">Overview </span></p>
                  <p lass="col-sm-12 tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Useful Links <span class="tm-current-year">Privacy </span></p>
                    <p lass="col-sm-12 tm-font-light tm-color-white p-4 tm-margin-b-0">
                      Resources <span class="tm-current-year">Ways to Bank </span></p>
              </div> -->
              <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                Copyright © <span class="tm-current-year">2023</span> ZF Bank
    
                <!-- - Design:  -->
                <!-- <a rel="nofollow" href="https://www.tooplate.com" class="tm-color-primary tm-font-normal"
                  target="_parent">Tooplate</a> -->
                </p>
            </div>
          </div>
        </footer>
      </div>
    
      <!-- load JS files -->
      <script src="js/jquery-1.11.3.min.js"></script> <!-- jQuery (https://jquery.com/download/) -->
      <script src="js/popper.min.js"></script> <!-- https://popper.js.org/ -->
      <script src="js/bootstrap.min.js"></script> <!-- https://getbootstrap.com/ -->
      <script src="js/datepicker.min.js"></script> <!-- https://github.com/qodesmith/datepicker -->
      <script src="js/jquery.singlePageNav.min.js"></script>
      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
      <script src="slick/slick.min.js"></script> <!-- http://kenwheeler.github.io/slick/ -->
      
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&amp;v=3.exp&amp;sensor=false&amp;callback=initialize"></script>
    </body>
    
   
    
