<head>
  <link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&amp;lang=en">
  <link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Google+Sans+Text:400&amp;text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
</head>
<body>
  <div class="tm-main-content" id="top">
    <!-- ------------------------------------------- -->
<div #home id="home">
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
      <div class="carousel-indicators">
        <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img alt="..." class="d-block w-100" src="../../assets/img/bg-img-1.jpg">
          <div class="carousel-caption">
            <h5>Unlock Your Dream House</h5>
            <p>Thinking of buying a new home?, we're here to help seven days a week. Call our mortage experts any day between 7am and 8pm.</p>
            <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img alt="..." class="d-block w-100" src="../../assets/img/bg-img-5.jpg">
          <div class="carousel-caption">
            <h5>Banking With A Personal Touch</h5>
            <p>Easily manage your finances with simple switching and overdraft available. Choose ZF BANK.</p>
            <p><a routerLink="manage" class="btn btn-warning mt-3" >Learn More</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <img alt="..." class="d-block w-100" src="../../assets/img/bg-img-6.jpg">
          <div class="carousel-caption">
            <h5>Proud Achievements</h5>
            <p>Latest financial results 2022-2023. Upgraded global ratings and records.</p>
            <p><a class="btn btn-warning mt-3" href="#">Learn More</a></p>
          </div>
        </div>
      </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
    </div>
  </div>
<!-- ------------------------------------------------ -->
    <!-- <div class="tm-section tm-bg-img" id="tm-section-1">
      <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
          <div class="row">
            <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
              
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="tm-section-2">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="tm-section-title">We are here to help you!</h2>
            <p class="tm-color-white tm-section-subtitle">Follow Us</p>
            <a href="#" class="tm-color-white tm-btn-white-bordered">Contact customer care</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="tm-section tm-position-relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
        class="tm-section-down-arrow">
        <polygon fill="rgb(78,78,78)" points="0,0  100,0  50,60"></polygon>
      </svg>
      <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-percent tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1"> Difference Between New Tax Regime & Old Tax Regime</h3>
            <p>With the initiation of a new tax regime, comes the confusion of which one is suitable for you. 
              You, as the taxpayer, may find it challenging to identify which one of the two regimes is better and relevant to your income.</p>
            <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
          </article>
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-credit-card tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">How to activate debit card in few simple steps.</h3>
            <p>Getting a new Debit Card can be very exciting and once it lands in your hands, the temptation to use it immediately is very high.
               But, a new Debit Card does not work without getting activated.</p>
            <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
          </article>
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-mobile tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">Mobile Banking Guide</h3>
            <p>100+transactions on a variety of phones and tablets. It has been designed for you, by us, keeping you in mind, 
              to make banking through your mobile simple and convenient.

              Just like it would be for any other favourite app you use on your mobile.</p>
            <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
          </article>
        </div>
      </div>
    </div>

  <div #features id="features">
      <div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
        <div class="container ie-h-align-center-fix">
          <div class="row tm-flex-align-center">
            <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
              <h2 class="text-uppercase tm-section-title-2" style="font-weight:1000;">ZF </h2><h2 class="text-uppercase tm-section-title-2" style="color:#ffc107; font-weight: 1000;">Bank</h2>
              <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">Features</h3>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
              
              <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
              
                <article class="media tm-margin-b-20 tm-media-1">
                  <div class="carddiv">
                  <img src="../../assets/img/img-03.jpg" alt="Image">
                  <div class="media-body tm-media-body-1 tm-media-body-v-center">
                    <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">Efficient and 24*7 Internet Banking</h3>
                    <p>Start banking online using ZF Bank. ZF Bank provides easy steps to start online banking. 
                      Assistance is available 24/7 for customers. Avail a variety of benefits and services by ZF through the online banking service.
                       Hassle-free internet banking options makes banking with ZF Bank the best.
                      <!-- <br><br> -->
                    </p>
                    <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
                  </div>
                  </div>
                </article>

                <article class="media tm-margin-b-20 tm-media-1">
                  <div class="carddiv">
                  <img src="../../assets/img/img-04.jpg" alt="Image">
                  <div class="media-body tm-media-body-1 tm-media-body-v-center">
                    <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">100 percent customer centric service.
                    </h3>
                    <p>Our banks offer standardized products hardcoded with specific benefits, parameters, and rules–30-year mortgages,
                       savings accounts with minimum balances. 
                       A variety of operational roles are charged with supporting these products and managing the rules governing them.</p>
                    <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
                  </div>
                  </div>
                </article>

                <article class="media tm-margin-b-20 tm-media-1">
                  <div class="carddiv">
                  <img src="../../assets/img/img-05.jpg" alt="Image">
                  <div class="media-body tm-media-body-1 tm-media-body-v-center">
                    <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">High grade security assurance</h3>
                    <p>Besides compliance to banking and regulatory requirements, security is the most important property of banking-grade custody solutions, be it against external attackers or insiders.
                       Providing high security assurance entails multiple and redundant security controls, while mitigating potential components' by following a defense-in-depth approach.</p>
                    <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
                  </div>
                  </div>
                </article>
              
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <footer style="background: rgb(78, 78, 78);" class="tm-bg-dark-blue">
      <div class="container">
        <div class="row">
          
          <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright © <span class="tm-current-year">2023</span> ZF Bank

           
            </p>
        </div>
      </div>
    </footer> -->
    <!-- ----------------------------- -->
    <div #contact id="contact">
    <footer style="background: rgb(78, 78, 78);padding:0.5rem!important;" class="tm-bg-dark-blue">
      <div class="container">
        <div class="row">  
          <p class="col-sm-12 text-center tm-font-light tm-color-white">
            Contact Us <span class="tm-current-year">1800-555-888</span> Toll Free
          </p>
          <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright © <span class="tm-current-year">2023</span> ZF Bank
            </p>
           
        </div>
      </div>
    </footer>
  </div>
  </div>
</body>


